<!DOCTYPE html>
<html>
<head>

 <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

<title>Employee Directory</title>
</head>
<body>
<div class="container">
<h2>Employee Directory</h2>

<table class="table table-bordered table-striped ">
	<thead class="thead-dark">
	      <tr>
	        <th>FirstName</th>
	         <th>LastName</th>
	          <th>Email</th>
	      </tr>
	</thead>
	<tbody>
	<tr th:each="tempEmployees : ${employees}">
	<td th:text="${tempEmployees.firstName}"/>
	<td th:text="${tempEmployees.lastName}"/>
	<td th:text="${tempEmployees.email}"/>
	</tr>
	</tbody>

</table>
</div>
</body>
</html>